<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pkg.android.grossary"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name="com.pkg.android.grossary.Applications.GrossaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".navigation.Customer.CustomerMainActivity">

        </activity>
        <activity android:name=".navigation.Retailer.RetailerMainActivity">

        </activity>
        <activity android:name=".navigation.startScreenActivities.SignUpActivity">

        </activity>
        <activity android:name=".navigation.startScreenActivities.ResetPasswordActivity">

        </activity>
        <activity android:name=".navigation.Customer.CategoryWiseProductListActivity">

        </activity>
        <activity android:name=".navigation.ViewCartActivity">

        </activity>
        <activity android:name=".navigation.startScreenActivities.LoginActivity" android:label="@string/app_name">

        </activity>
        <activity
            android:name=".navigation.startScreenActivities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ConnectionPackage.ConnectivityReceiver"
                  android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>